---
swagger: "2.0"
info:
  version: "2025-11-04T16:24:17Z"
  title: "RestApi"
host: "api.cloud.scenario.com"
basePath: "/v1"
schemes:
  - "https"
paths:
  /assets:
    get:
      tags:
        - "Assets"
      description: "List assets of a project team, or list all public assets"
      operationId: "GetAssets"
      produces:
        - "application/json"
      parameters:
        - name: "updatedBefore"
          in: "query"
          description: "Filter results to only return assets updated before the specified ISO string date (exclusive). Requires the sortBy parameter to be \"updatedAt\""
          required: false
          type: "string"
        - name: "sortDirection"
          in: "query"
          description: "Sort results in ascending (asc) or descending (desc) order"
          required: false
          type: "string"
        - name: "privacy"
          in: "query"
          description: "Filters result by asset privacy. If set to public, it will return -all- public assets from all organizations"
          required: false
          type: "string"
        - name: "inferenceId"
          in: "query"
          description: "List assets generated from a specific inference"
          required: false
          type: "string"
        - name: "modelId"
          in: "query"
          description: "List assets generated from all inferences coming from a specific model (this is not the training images)"
          required: false
          type: "string"
        - name: "updatedAfter"
          in: "query"
          description: "Filter results to only return assets updated after the specified ISO string date (exclusive). Requires the sortBy parameter to be \"updatedAt\""
          required: false
          type: "string"
        - name: "parentAssetId"
          in: "query"
          description: "List all the children assets that were generated from a specific parent asset"
          required: false
          type: "string"
        - name: "createdBefore"
          in: "query"
          description: "Filter results to only return assets created before the specified ISO string date (exclusive). Requires the sortBy parameter to be \"createdAt\""
          required: false
          type: "string"
        - name: "sortBy"
          in: "query"
          description: "Sort results by the createdAt or updatedAt"
          required: false
          type: "string"
        - name: "createdAfter"
          in: "query"
          description: "Filter results to only return assets created after the specified ISO string date (exclusive). Requires the sortBy parameter to be \"createdAt\""
          required: false
          type: "string"
        - name: "authorId"
          in: "query"
          description: "List assets generated by a specific author (the user that created the asset)"
          required: false
          type: "string"
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "pageSize"
          in: "query"
          description: "The number of items to return in the response. The default value is 50, maximum value is 100, minimum value is 1"
          required: false
          type: "string"
        - name: "rootAssetId"
          in: "query"
          description: "List all the children assets that were generated from a specific root asset"
          required: false
          type: "string"
        - name: "type"
          in: "query"
          description: "List all the assets of a specific type. The parameter \"type\" and \"types\" cannot be used together. Can be any of the following values: inference-txt2img, inference-txt2img-ip-adapter, inference-txt2img-texture, inference-img2img, inference-img2img-ip-adapter, inference-img2img-texture, inference-inpaint, inference-inpaint-ip-adapter, inference-reference, inference-reference-texture, inference-controlnet, inference-controlnet-ip-adapter, inference-controlnet-img2img, inference-controlnet-reference, inference-controlnet-inpaint, inference-controlnet-inpaint-ip-adapter, inference-controlnet-texture, background-removal, canvas, canvas-export, canvas-drawing, detection, patch, pixelization, upscale, upscale-texture, upscale-skybox, vectorization, segment, segmentation-image, segmentation-mask, skybox-base-360, skybox-hdri, skybox-3d, restyle, reframe, generative-fill, texture, texture-height, texture-normal, texture-smoothness, texture-metallic, texture-edge, texture-ao, texture-albedo, image-prompt-editing, unknown, img23d, txt23d, 3d23d, 3d23d-texture, img2video, txt2audio, audio2audio, video2video, txt2img, img2img, txt2video, uploaded, uploaded-video, uploaded-audio, uploaded-3d, uploaded-avatar, upscale-video, assets with a type starting with \"inference-\" will be returned"
          required: false
          type: "string"
          enum:
            - 3d23d
            - 3d23d-texture
            - audio2audio
            - background-removal
            - canvas
            - canvas-drawing
            - canvas-export
            - detection
            - generative-fill
            - image-prompt-editing
            - img23d
            - img2img
            - img2video
            - inference-controlnet
            - inference-controlnet-img2img
            - inference-controlnet-inpaint
            - inference-controlnet-inpaint-ip-adapter
            - inference-controlnet-ip-adapter
            - inference-controlnet-reference
            - inference-controlnet-texture
            - inference-img2img
            - inference-img2img-ip-adapter
            - inference-img2img-texture
            - inference-inpaint
            - inference-inpaint-ip-adapter
            - inference-reference
            - inference-reference-texture
            - inference-txt2img
            - inference-txt2img-ip-adapter
            - inference-txt2img-texture
            - patch
            - pixelization
            - reframe
            - restyle
            - segment
            - segmentation-image
            - segmentation-mask
            - skybox-3d
            - skybox-base-360
            - skybox-hdri
            - texture
            - texture-albedo
            - texture-ao
            - texture-edge
            - texture-height
            - texture-metallic
            - texture-normal
            - texture-smoothness
            - txt23d
            - txt2audio
            - txt2img
            - txt2video
            - unknown
            - uploaded
            - uploaded-3d
            - uploaded-audio
            - uploaded-avatar
            - uploaded-video
            - upscale
            - upscale-skybox
            - upscale-texture
            - upscale-video
            - vectorization
            - video2video
        - name: "paginationToken"
          in: "query"
          description: "A token you received in a previous request to query the next page of items"
          required: false
          type: "string"
        - name: "tags"
          in: "query"
          description: "List of tags, comma separated. Only for public assets on all teams."
          required: false
          type: "string"
        - name: "types"
          in: "query"
          description: "List of the asset types to request. The parameter \"type\" and \"types\" cannot be used together. Can be any of the following values: inference-txt2img, inference-txt2img-ip-adapter, inference-txt2img-texture, inference-img2img, inference-img2img-ip-adapter, inference-img2img-texture, inference-inpaint, inference-inpaint-ip-adapter, inference-reference, inference-reference-texture, inference-controlnet, inference-controlnet-ip-adapter, inference-controlnet-img2img, inference-controlnet-reference, inference-controlnet-inpaint, inference-controlnet-inpaint-ip-adapter, inference-controlnet-texture, background-removal, canvas, canvas-export, canvas-drawing, detection, patch, pixelization, upscale, upscale-texture, upscale-skybox, vectorization, segment, segmentation-image, segmentation-mask, skybox-base-360, skybox-hdri, skybox-3d, restyle, reframe, generative-fill, texture, texture-height, texture-normal, texture-smoothness, texture-metallic, texture-edge, texture-ao, texture-albedo, image-prompt-editing, unknown, img23d, txt23d, 3d23d, 3d23d-texture, img2video, txt2audio, audio2audio, video2video, txt2img, img2img, txt2video, uploaded, uploaded-video, uploaded-audio, uploaded-3d, uploaded-avatar, upscale-video"
          required: false
          type: "array"
          items:
            type: string
            enum:
              - 3d23d
              - 3d23d-texture
              - audio2audio
              - background-removal
              - canvas
              - canvas-drawing
              - canvas-export
              - detection
              - generative-fill
              - image-prompt-editing
              - img23d
              - img2img
              - img2video
              - inference-controlnet
              - inference-controlnet-img2img
              - inference-controlnet-inpaint
              - inference-controlnet-inpaint-ip-adapter
              - inference-controlnet-ip-adapter
              - inference-controlnet-reference
              - inference-controlnet-texture
              - inference-img2img
              - inference-img2img-ip-adapter
              - inference-img2img-texture
              - inference-inpaint
              - inference-inpaint-ip-adapter
              - inference-reference
              - inference-reference-texture
              - inference-txt2img
              - inference-txt2img-ip-adapter
              - inference-txt2img-texture
              - patch
              - pixelization
              - reframe
              - restyle
              - segment
              - segmentation-image
              - segmentation-mask
              - skybox-3d
              - skybox-base-360
              - skybox-hdri
              - texture
              - texture-albedo
              - texture-ao
              - texture-edge
              - texture-height
              - texture-metallic
              - texture-normal
              - texture-smoothness
              - txt23d
              - txt2audio
              - txt2img
              - txt2video
              - unknown
              - uploaded
              - uploaded-3d
              - uploaded-audio
              - uploaded-avatar
              - uploaded-video
              - upscale
              - upscale-skybox
              - upscale-texture
              - upscale-video
              - vectorization
              - video2video
        - name: "collectionId"
          in: "query"
          required: false
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetAssetsResponse"
      security:
        - Authorizer: []
    post:
      tags:
        - "Assets"
      description: "Upload an image or canvas"
      operationId: "PostAsset"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - in: "body"
          name: "PostAssetRequest"
          required: true
          schema:
            $ref: "#/definitions/PostAssetRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostAssetResponse"
      security:
        - Authorizer: []
    delete:
      tags:
        - "Assets"
      description: "Delete multiple assets"
      operationId: "DeleteAsset"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "DeleteAssetRequest"
          required: true
          schema:
            $ref: "#/definitions/DeleteAssetRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteAssetResponse"
      security:
        - Authorizer: []
  /assets/download:
    post:
      tags:
        - "Assets"
      description: "Request a link to batch download assets (batch limited to 1000 assets)"
      operationId: "PostDownloadAssets"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "PostDownloadAssetsRequest"
          required: true
          schema:
            $ref: "#/definitions/PostDownloadAssetsRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostDownloadAssetsResponse"
      security:
        - Authorizer: []
  /assets/download/{jobId}:
    get:
      tags:
        - "Assets"
      description: "Retrieve the status and the url of a batch download assets request"
      operationId: "GetDownloadAssets"
      produces:
        - "application/json"
      parameters:
        - name: "jobId"
          in: "path"
          description: "The job ID to retrieve the download request"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetDownloadAssetsResponse"
      security:
        - Authorizer: []
  /assets/get-bulk:
    post:
      tags:
        - "Assets"
      description: "Get multiple assets by their IDs"
      operationId: "PostAssetGetBulk"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - in: "body"
          name: "PostAssetGetBulkRequest"
          required: true
          schema:
            $ref: "#/definitions/PostAssetGetBulkRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetAssetBulkResponse"
      security:
        - Authorizer: []
  /assets/public:
    get:
      tags:
        - "Assets"
      description: "List all public assets"
      operationId: "GetPublicAssets"
      produces:
        - "application/json"
      parameters:
        - name: "updatedBefore"
          in: "query"
          description: "Filter results to only return assets updated before the specified ISO string date (exclusive). Requires the sortBy parameter to be \"updatedAt\""
          required: false
          type: "string"
        - name: "sortDirection"
          in: "query"
          description: "Sort results in ascending (asc) or descending (desc) order"
          required: false
          type: "string"
        - name: "modelId"
          in: "query"
          description: "List assets generated from all inferences coming from a specific model (this is not the training images)"
          required: false
          type: "string"
        - name: "updatedAfter"
          in: "query"
          description: "Filter results to only return assets updated after the specified ISO string date (exclusive). Requires the sortBy parameter to be \"updatedAt\""
          required: false
          type: "string"
        - name: "createdBefore"
          in: "query"
          description: "Filter results to only return assets created before the specified ISO string date (exclusive). Requires the sortBy parameter to be \"createdAt\""
          required: false
          type: "string"
        - name: "sortBy"
          in: "query"
          description: "Sort results by the createdAt or updatedAt"
          required: false
          type: "string"
        - name: "createdAfter"
          in: "query"
          description: "Filter results to only return assets created after the specified ISO string date (exclusive). Requires the sortBy parameter to be \"createdAt\""
          required: false
          type: "string"
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "pageSize"
          in: "query"
          description: "The number of items to return in the response. The default value is 50, maximum value is 100, minimum value is 1"
          required: false
          type: "string"
        - name: "type"
          in: "query"
          description: "List all the assets of a specific type. The parameter \"type\" and \"types\" cannot be used together. Can be any of the following values: inference-txt2img, inference-txt2img-ip-adapter, inference-txt2img-texture, inference-img2img, inference-img2img-ip-adapter, inference-img2img-texture, inference-inpaint, inference-inpaint-ip-adapter, inference-reference, inference-reference-texture, inference-controlnet, inference-controlnet-ip-adapter, inference-controlnet-img2img, inference-controlnet-reference, inference-controlnet-inpaint, inference-controlnet-inpaint-ip-adapter, inference-controlnet-texture, background-removal, canvas, canvas-export, canvas-drawing, detection, patch, pixelization, upscale, upscale-texture, upscale-skybox, vectorization, segment, segmentation-image, segmentation-mask, skybox-base-360, skybox-hdri, skybox-3d, restyle, reframe, generative-fill, texture, texture-height, texture-normal, texture-smoothness, texture-metallic, texture-edge, texture-ao, texture-albedo, image-prompt-editing, unknown, img23d, txt23d, 3d23d, 3d23d-texture, img2video, txt2audio, audio2audio, video2video, txt2img, img2img, txt2video, uploaded, uploaded-video, uploaded-audio, uploaded-3d, uploaded-avatar, upscale-video, assets with a type starting with \"inference-\" will be returned"
          required: false
          type: "string"
        - name: "paginationToken"
          in: "query"
          description: "A token you received in a previous request to query the next page of items"
          required: false
          type: "string"
        - name: "tags"
          in: "query"
          description: "List of tags, comma separated. Only for public assets on all teams."
          required: false
          type: "string"
        - name: "types"
          in: "query"
          description: "List of the asset types to request. The parameter \"type\" and \"types\" cannot be used together. Can be any of the following values: inference-txt2img, inference-txt2img-ip-adapter, inference-txt2img-texture, inference-img2img, inference-img2img-ip-adapter, inference-img2img-texture, inference-inpaint, inference-inpaint-ip-adapter, inference-reference, inference-reference-texture, inference-controlnet, inference-controlnet-ip-adapter, inference-controlnet-img2img, inference-controlnet-reference, inference-controlnet-inpaint, inference-controlnet-inpaint-ip-adapter, inference-controlnet-texture, background-removal, canvas, canvas-export, canvas-drawing, detection, patch, pixelization, upscale, upscale-texture, upscale-skybox, vectorization, segment, segmentation-image, segmentation-mask, skybox-base-360, skybox-hdri, skybox-3d, restyle, reframe, generative-fill, texture, texture-height, texture-normal, texture-smoothness, texture-metallic, texture-edge, texture-ao, texture-albedo, image-prompt-editing, unknown, img23d, txt23d, 3d23d, 3d23d-texture, img2video, txt2audio, audio2audio, video2video, txt2img, img2img, txt2video, uploaded, uploaded-video, uploaded-audio, uploaded-3d, uploaded-avatar, upscale-video"
          required: false
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicAssetsResponse"
  /assets/public/{assetId}:
    get:
      tags:
        - "Assets"
      description: "Get the details of an asset"
      operationId: "GetPublicAssetsByAssetId"
      produces:
        - "application/json"
      parameters:
        - name: "assetId"
          in: "path"
          description: "The asset ID to retrieve"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicAssetsByAssetIdResponse"
  /assets/{assetId}:
    get:
      tags:
        - "Assets"
      description: "Get the details of an asset"
      operationId: "GetAssetsByAssetId"
      produces:
        - "application/json"
      parameters:
        - name: "withEmbedding"
          in: "query"
          description: "Include the embedding in the response"
          required: false
          type: "string"
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "assetId"
          in: "path"
          description: "The asset ID to retrieve"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetAssetsByAssetIdResponse"
      security:
        - Authorizer: []
    put:
      tags:
        - "Assets"
      description: "Update a canvas asset"
      operationId: "PutAssetByAssetId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "assetId"
          in: "path"
          required: true
          type: "string"
        - in: "body"
          name: "PutAssetByAssetIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutAssetByAssetIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutAssetByAssetIdResponse"
      security:
        - Authorizer: []
  /assets/{assetId}/copy:
    post:
      tags:
        - "Assets"
      description: "Duplicate an asset"
      operationId: "CopyAssetByAssetId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "assetId"
          in: "path"
          description: "The ID of the asset to duplicate"
          required: true
          type: "string"
        - in: "body"
          name: "CopyAssetByAssetIdRequest"
          required: true
          schema:
            $ref: "#/definitions/CopyAssetByAssetIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/CopyAssetResponse"
      security:
        - Authorizer: []
  /assets/{assetId}/lock:
    put:
      tags:
        - "Assets"
      description: "Lock a canvas"
      operationId: "LockAssetByAssetId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "assetId"
          in: "path"
          description: "The ID of the canvas to lock"
          required: true
          type: "string"
        - in: "body"
          name: "LockAssetByAssetIdRequest"
          required: true
          schema:
            $ref: "#/definitions/LockAssetByAssetIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/LockAssetByAssetIdResponse"
      security:
        - Authorizer: []
  /assets/{assetId}/snapshots:
    get:
      tags:
        - "Assets"
      description: "List snapshots of a canvas type asset"
      operationId: "GetCanvasAssetSnapshots"
      produces:
        - "application/json"
      parameters:
        - name: "pageSize"
          in: "query"
          description: "The number of items to return in the response. The default value is 10, maximum value is 100, minimum value is 10"
          required: false
          type: "string"
        - name: "assetId"
          in: "path"
          description: "The ID of the canvas asset to list snapshots for"
          required: true
          type: "string"
        - name: "paginationToken"
          in: "query"
          description: "A token you received in a previous request to query the next page of items"
          required: false
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetCanvasAssetSnapshotsResponse"
      security:
        - Authorizer: []
  /assets/{assetId}/tags:
    put:
      tags:
        - "Assets"
      description: "Add/delete tags on a specific asset"
      operationId: "PutAssetsTagsByAssetId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "assetId"
          in: "path"
          description: "The ID of the asset to update its tags"
          required: true
          type: "string"
        - in: "body"
          name: "PutAssetsTagsByAssetIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutAssetsTagsByAssetIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutAssetsTagsByAssetIdResponse"
      security:
        - Authorizer: []
  /assets/{assetId}/unlock:
    put:
      tags:
        - "Assets"
      description: "Unlock a canvas"
      operationId: "UnlockAssetByAssetId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "assetId"
          in: "path"
          description: "The ID of the canvas to unlock"
          required: true
          type: "string"
        - in: "body"
          name: "UnlockAssetByAssetIdRequest"
          required: true
          schema:
            $ref: "#/definitions/UnlockAssetByAssetIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/UnlockAssetByAssetIdResponse"
      security:
        - Authorizer: []
  /collections:
    get:
      tags:
        - "Collections"
      description: "List collections of a team"
      operationId: "GetCollections"
      produces:
        - "application/json"
      parameters:
        - name: "pageSize"
          in: "query"
          description: "The number of items to return in the response. The default value is 10, maximum value is 100, minimum value is 1"
          required: false
          type: "string"
        - name: "paginationToken"
          in: "query"
          description: "A token you received in a previous request to query the next page of items"
          required: false
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetCollectionsResponse"
      security:
        - Authorizer: []
    post:
      tags:
        - "Collections"
      description: "Create a new collection"
      operationId: "PostCollection"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "PostCollectionRequest"
          required: true
          schema:
            $ref: "#/definitions/PostCollectionRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostCollectionResponse"
      security:
        - Authorizer: []
  /collections/{collectionId}:
    get:
      tags:
        - "Collections"
      description: "Get the details of a collection"
      operationId: "GetCollectionsByCollectionId"
      produces:
        - "application/json"
      parameters:
        - name: "collectionId"
          in: "path"
          description: "The collection ID to retrieve"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetCollectionsByCollectionIdResponse"
      security:
        - Authorizer: []
    put:
      tags:
        - "Collections"
      description: "Update the name of a Collection"
      operationId: "PutCollectionsByCollectionId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "collectionId"
          in: "path"
          description: "The collectionId to update"
          required: true
          type: "string"
        - in: "body"
          name: "PutCollectionsByCollectionIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutCollectionsByCollectionIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutCollectionsByCollectionIdResponse"
      security:
        - Authorizer: []
    delete:
      tags:
        - "Collections"
      description: "Delete a collection"
      operationId: "DeleteCollectionsByCollectionId"
      produces:
        - "application/json"
      parameters:
        - name: "collectionId"
          in: "path"
          description: "The collection ID to delete"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteCollectionResponse"
      security:
        - Authorizer: []
  /collections/{collectionId}/assets:
    put:
      tags:
        - "Collections"
      description: "Add assets to a specific collection"
      operationId: "PutAssetsByCollectionId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "collectionId"
          in: "path"
          description: "The ID of the collection to add assets to"
          required: true
          type: "string"
        - in: "body"
          name: "PutAssetsByCollectionIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutAssetsByCollectionIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutAssetsByCollectionIdResponse"
      security:
        - Authorizer: []
    delete:
      tags:
        - "Collections"
      description: "Remove assets from a specific collection"
      operationId: "DeleteAssetsByCollectionId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "collectionId"
          in: "path"
          description: "The ID of the collection to remove the assets from"
          required: true
          type: "string"
        - in: "body"
          name: "DeleteAssetsByCollectionIdRequest"
          required: true
          schema:
            $ref: "#/definitions/DeleteAssetsByCollectionIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteAssetsByCollectionIdResponse"
      security:
        - Authorizer: []
  /collections/{collectionId}/models:
    put:
      tags:
        - "Collections"
      description: "Add models to a specific collection"
      operationId: "PutModelsByCollectionId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "collectionId"
          in: "path"
          description: "The ID of the collection to add models to"
          required: true
          type: "string"
        - in: "body"
          name: "PutModelsByCollectionIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutModelsByCollectionIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutModelsByCollectionIdResponse"
      security:
        - Authorizer: []
    delete:
      tags:
        - "Collections"
      description: "Remove models from a specific collection"
      operationId: "DeleteModelsByCollectionId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "collectionId"
          in: "path"
          description: "The ID of the collection to remove the models from"
          required: true
          type: "string"
        - in: "body"
          name: "DeleteModelsByCollectionIdRequest"
          required: true
          schema:
            $ref: "#/definitions/DeleteModelsByCollectionIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteModelsByCollectionIdResponse"
      security:
        - Authorizer: []
  /generate/caption:
    post:
      tags:
        - "Generate: Text"
      description: "Caption image(s)"
      operationId: "PostCaptionInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostCaptionInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostCaptionInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostCaptionInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/controlnet:
    post:
      tags:
        - "Generate: Image (Single ref)"
      description: "Trigger a new image generation in ControlNet mode. The control image is used to guide the generation; it can be a pose, canny map, or similar."
      operationId: "PostControlnetInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostControlnetInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostControlnetInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostControlnetInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/controlnet-img2img:
    post:
      tags:
        - "Generate: Image (Dual ref)"
      description: "Trigger a new image generation in ControlNet + Img2Img mode. The control image is used to guide the generation; it can be a pose, canny map, or similar. The reference image is used to initialize the generation process."
      operationId: "PostControlnetImg2imgInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostControlnetImg2imgInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostControlnetImg2imgInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostControlnetImg2imgInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/controlnet-inpaint:
    post:
      tags:
        - "Generate: Image Inpainting"
      description: "Trigger a new image generation in ControlNet + Inpaint mode. The control image is used to guide the generation; it can be a pose, canny map, or similar. The mask indicates the area to inpaint in the reference image."
      operationId: "PostControlnetInpaintInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostControlnetInpaintInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostControlnetInpaintInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostControlnetInpaintInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/controlnet-inpaint-ip-adapter:
    post:
      tags:
        - "Generate: Image Inpainting"
      description: "Trigger a new image generation in ControlNet + Inpaint + IpAdapter mode. The control image is used to guide the generation; it can be a pose, canny map, or similar. The mask indicates the area to inpaint in the reference image, and the second reference image is used as an IPAdapter to guide the generation process."
      operationId: "PostControlnetInpaintIpAdapterInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostControlnetInpaintIpAdapterInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostControlnetInpaintIpAdapterInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostControlnetInpaintIpAdapterInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/controlnet-ip-adapter:
    post:
      tags:
        - "Generate: Image (Dual ref)"
      description: "Trigger a new image generation in ControlNet + IpAdapter mode. The control image is used to guide the generation; it can be a pose, canny map, or similar. The second reference image is used as an IPAdapter to guide the generation process."
      operationId: "PostControlnetIpAdapterInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostControlnetIpAdapterInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostControlnetIpAdapterInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostControlnetIpAdapterInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/controlnet-texture:
    post:
      tags:
        - "Generate: Texture"
      description: "Trigger a new seamless texture image generation in ControlNet mode. The control image is used to guide the generation; it can be a pose, canny map, or similar."
      operationId: "PostControlnetTextureInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostControlnetTextureInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostControlnetTextureInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostControlnetTextureInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/custom/{modelId}:
    post:
      tags:
        - "Generate"
      description: "Generate with any model (Image, Video, Audio, 3d).\n\nYou can retrieve the model inputs from the `GET /models/{modelId}` endpoint.\n\n**Note**: This endpoint is not available yet for SD1.5, SDXL, Flux.1 and Flux.1-Kontext based models. For these models, use the `POST /generate/{inferenceType}` endpoint. Ex: `POST /generate/txt2img` or `POST /generate/prompt-editing`"
      operationId: "PostGenerateCustom"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          required: true
          type: "string"
        - in: "body"
          name: "PostGenerateCustomRequest"
          required: true
          schema:
            $ref: "#/definitions/PostGenerateCustomRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostGenerateCustomResponse"
      security:
        - Authorizer: []
  /generate/describe-style:
    post:
      tags:
        - "Generate: Text"
      description: "Describe the style of the given images or models."
      operationId: "PostDescribeStyleInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostDescribeStyleInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostDescribeStyleInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostDescribeStyleInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/detect:
    post:
      tags:
        - "Generate: Detection Maps"
      description: "Advanced precision in image generation by transforming visual data from input images into mode maps."
      operationId: "PostDetectInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostDetectInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostDetectInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndAssetAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/embed:
    post:
      tags:
        - "Generate: Embedding"
      description: "Get embeddings from text"
      operationId: "PostEmbedInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostEmbedInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostEmbedInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostEmbedInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/generative-fill:
    post:
      tags:
        - "Generate: Image Generative Fill"
      description: "Generative fill replace the selected mask area content based on the context. Used to erase objects or characters."
      operationId: "PostGenerativeFillInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostGenerativeFillInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostGenerativeFillInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/img2img:
    post:
      tags:
        - "Generate: Image (Single ref)"
      description: "Trigger a new image generation in Img2Img mode with one reference image that initializes the generation process."
      operationId: "PostImg2imgInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostImg2imgInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostImg2imgInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostImg2imgInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/img2img-ip-adapter:
    post:
      tags:
        - "Generate: Image (Dual ref)"
      description: "Trigger a new image generation in Img2Img + IpAdapter mode. The first image is used to initialize the generation, and the second reference image is used as an IPAdapter."
      operationId: "PostImg2imgIpAdapterInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostImg2imgIpAdapterInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostImg2imgIpAdapterInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostImg2imgIpAdapterInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/img2img-texture:
    post:
      tags:
        - "Generate: Texture"
      description: "Trigger a new seamless texture image generation in Img2Img mode with one reference image that initializes the generation."
      operationId: "PostImg2imgTextureInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostImg2imgTextureInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostImg2imgTextureInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostImg2imgTextureInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/inpaint:
    post:
      tags:
        - "Generate: Image Inpainting"
      description: "Trigger a new image generation in Inpaint mode. The mask indicates the area to inpaint in the reference image."
      operationId: "PostInpaintInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostInpaintInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostInpaintInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostInpaintInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/inpaint-ip-adapter:
    post:
      tags:
        - "Generate: Image Inpainting"
      description: "Trigger a new image generation in Inpaint + IpAdapter mode. The mask indicates the area to inpaint in the reference image, and the second reference image is used as an IPAdapter to guide the inpainting."
      operationId: "PostInpaintIpAdapterInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostInpaintIpAdapterInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostInpaintIpAdapterInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostInpaintIpAdapterInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/patch:
    post:
      tags:
        - "Generate: Image Editing"
      description: "Patch an asset with an image."
      operationId: "PostPatchInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostPatchInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostPatchInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndAssetAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/pixelate:
    post:
      tags:
        - "Generate: Image Editing"
      description: "Advanced pixelization of an image."
      operationId: "PostPixelateInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostPixelateInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostPixelateInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndAssetAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/prompt:
    post:
      tags:
        - "Generate: Text"
      description: "Generate, complete or invent new prompts."
      operationId: "PostPromptInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostPromptInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostPromptInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostPromptInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/prompt-editing:
    post:
      tags:
        - "Generate: Image Editing"
      description: "Edit an image with a prompt."
      operationId: "PostPromptEditingInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostPromptEditingInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostPromptEditingInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/reframe:
    post:
      tags:
        - "Generate: Image Reframe"
      description: "Reframe a given image to new sizes. Extra space is filled based on the context."
      operationId: "PostReframeInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostReframeInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostReframeInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/remove-background:
    post:
      tags:
        - "Generate: Image Editing"
      description: "Advanced remove-background of an image."
      operationId: "PostRemoveBackgroundInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostRemoveBackgroundInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostRemoveBackgroundInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndAssetAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/restyle:
    post:
      tags:
        - "Generate: Image Restyle"
      description: "Trigger a restyle process from one sketch image (or other image) and one or more reference style images."
      operationId: "PostRestyleInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostRestyleInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostRestyleInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/segment:
    post:
      tags:
        - "Generate: Image Segmentation"
      description: "Trigger the segmentation of an image. The process will create a new Asset with the segmentation mask as a child."
      operationId: "PostSegmentInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostSegmentInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostSegmentInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostSegmentInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/skybox-base-360:
    post:
      tags:
        - "Generate: Skybox"
      description: "Trigger the generation of a 360 skybox seamless image."
      operationId: "PostSkyboxBase360Inferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostSkyboxBase360InferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostSkyboxBase360InferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/skybox-upscale-360:
    post:
      tags:
        - "Generate: Skybox"
      description: "Trigger the upscaling of an image matching the 360 skyboxes specific geometry."
      operationId: "PostSkyboxUpscale360Inferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostSkyboxUpscale360InferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostSkyboxUpscale360InferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/texture:
    post:
      tags:
        - "Generate: Texture"
      description: "Trigger the conversion of an image texture to different texture maps:\n- Height map\n- Normal map\n- Smoothness map\n- Metallic map\n- Edge map\n- Ambient Occlusion map\n\nThe process will create a new Asset with the above texture maps as children + the original image as an Albedo map.\n"
      operationId: "PostTextureInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostTextureInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostTextureInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/translate:
    post:
      tags:
        - "Generate: Text"
      description: "Translate text from one language to english."
      operationId: "PostTranslateInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostTranslateInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostTranslateInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostTranslateInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/txt2img:
    post:
      tags:
        - "Generate: Image (No ref)"
      description: "Trigger a new image generation in Txt2Img mode."
      operationId: "PostTxt2imgInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostTxt2imgInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostTxt2imgInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostTxt2imgInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/txt2img-ip-adapter:
    post:
      tags:
        - "Generate: Image (Single ref)"
      description: "Trigger a new image generation in Txt2Img mode with one IpAdapter reference image that guides the generation process."
      operationId: "PostTxt2imgIpAdapterInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostTxt2imgIpAdapterInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostTxt2imgIpAdapterInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostTxt2imgIpAdapterInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/txt2img-texture:
    post:
      tags:
        - "Generate: Texture"
      description: "Trigger a new seamless texture image generation in Txt2Img mode."
      operationId: "PostTxt2imgTextureInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostTxt2imgTextureInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostTxt2imgTextureInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostTxt2imgTextureInferencesResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /generate/upscale:
    post:
      tags:
        - "Generate: Image Upscaling"
      description: "Trigger the upscaling of an image. You can use styles and presets to quickly get results or craft your very own settings.\n\n**Note**:This endpoint is deprecated and will be removed in the future. Please leverage `POST /generate/custom/{modelId}` endpoint instead with `model_scenario-upscale-v3` `modelId` for example. See https://docs.scenario.com/docs/upscale-generation for more details."
      operationId: "PostUpscaleInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostUpscaleInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostUpscaleInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
      deprecated: true
  /generate/vectorize:
    post:
      tags:
        - "Generate: Image Editing"
      description: "Advanced vectorization of an image."
      operationId: "PostVectorizeInferences"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PostVectorizeInferencesRequest"
          required: true
          schema:
            $ref: "#/definitions/PostVectorizeInferencesRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/JobAndAssetAndBillingGenerateResponse"
        "269":
          description: "269 response"
          schema:
            $ref: "#/definitions/DryRunResponse"
      security:
        - Authorizer: []
  /jobs:
    get:
      tags:
        - "Jobs"
      description: "List all jobs matching the given filters. A job is a synchronous operation or an asynchronous task such as a training, a generation, etc. It offers a unified view of all operations running on the platform along with their status and results."
      operationId: "GetJobs"
      produces:
        - "application/json"
      parameters:
        - name: "authorId"
          in: "query"
          description: "The authorId of the jobs to return. Optional."
          required: false
          type: "string"
        - name: "hideResults"
          in: "query"
          description: "If false, jobs containing the hideResults param will be not returned. Optional."
          required: false
          type: "string"
        - name: "pageSize"
          in: "query"
          description: "The number of items to return in the response. The default value is 10, maximum value is 200, minimum value is 1"
          required: false
          type: "string"
        - name: "type"
          in: "query"
          description: "The type of the jobs to return. If \"types\" is defined, \"type\" will be ignored. Optional."
          required: false
          type: "string"
        - name: "paginationToken"
          in: "query"
          description: "A token you received in a previous request to query the next page of items"
          required: false
          type: "string"
        - name: "types"
          in: "query"
          description: "The types of the jobs to return. If \"types\" is defined, \"type\" will be ignored. Optional."
          required: false
          type: "string"
        - name: "status"
          in: "query"
          description: "The status of the jobs to return. Optional."
          required: false
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetJobsResponse"
      security:
        - Authorizer: []
  /jobs/{jobId}:
    get:
      tags:
        - "Jobs"
      description: "Get job data by job ID"
      operationId: "GetJobId"
      produces:
        - "application/json"
      parameters:
        - name: "jobId"
          in: "path"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetJobIdResponse"
      security:
        - Authorizer: []
  /jobs/{jobId}/action:
    post:
      tags:
        - "Jobs"
      description: "Trigger an action on a job: cancel"
      operationId: "PostJobActionByJobId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "jobId"
          in: "path"
          description: "The job Id"
          required: true
          type: "string"
        - in: "body"
          name: "PostJobActionByJobIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PostJobActionByJobIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostJobActionByJobIdResponse"
      security:
        - Authorizer: []
  /models:
    get:
      tags:
        - "Models"
      description: "List all models"
      operationId: "GetModels"
      produces:
        - "application/json"
      parameters:
        - name: "privacy"
          in: "query"
          description: "The privacy of the models to return. The default value is `private`, possible values are `private` and `public`"
          required: false
          type: "string"
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "pageSize"
          in: "query"
          description: "The number of items to return in the response. The default value is 100, maximum value is 500, minimum value is 1"
          required: false
          type: "string"
        - name: "paginationToken"
          in: "query"
          description: "A token you received in a previous request to query the next page of items"
          required: false
          type: "string"
        - name: "blacklisted"
          in: "query"
          description: "If set to true, returns the list of models blacklisted for the team (only available for team admins)"
          required: false
          type: "string"
        - name: "status"
          in: "query"
          description: "The status of the models to return"
          required: false
          type: "string"
        - name: "collectionId"
          in: "query"
          description: "When provided, only the models in the Collection will be returned"
          required: false
          type: "string"
        - name: "loadedOnly"
          in: "query"
          description: "If set to true, returns the list of models currently loaded on GPU"
          required: false
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetModelsResponse"
      security:
        - Authorizer: []
    post:
      tags:
        - "Models"
      description: "Create a new model"
      operationId: "PostModels"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - in: "body"
          name: "PostModelsRequest"
          required: true
          schema:
            $ref: "#/definitions/PostModelsRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostModelsResponse"
      security:
        - Authorizer: []
  /models/get-bulk:
    post:
      tags:
        - "Models"
      description: "Get multiple models by their `modelIds`"
      operationId: "PostModelsGetBulk"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - in: "body"
          name: "PostModelsGetBulkRequest"
          required: true
          schema:
            $ref: "#/definitions/PostModelsGetBulkRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostModelsGetBulkResponse"
      security:
        - Authorizer: []
  /models/public:
    get:
      tags:
        - "Models"
      description: "List all public models"
      operationId: "GetPublicModels"
      produces:
        - "application/json"
      parameters:
        - name: "updatedBefore"
          in: "query"
          description: "Filter results to only return models updated before the specified ISO string date (exclusive). Requires the sortBy parameter to be \"updatedAt\""
          required: false
          type: "string"
        - name: "sortDirection"
          in: "query"
          description: "Sort results in ascending (asc) or descending (desc) order"
          required: false
          type: "string"
        - name: "collectionIds"
          in: "query"
          description: "List of collection ids, comma separated."
          required: false
          type: "string"
        - name: "pageSize"
          in: "query"
          description: "The number of items to return in the response. The default value is 50, maximum value is 500, minimum value is 1"
          required: false
          type: "string"
        - name: "type"
          in: "query"
          description: "List all the models of a specific type. Can be any of the following values: sd-1_5, sd-1_5-lora, sd-1_5-composition, sd-xl, sd-xl-lora, sd-xl-composition, flux.1, flux.1-lora, flux.1-kontext-dev, flux.1-krea-dev, flux.1-kontext-lora, flux.1-krea-lora, flux.1-composition, flux.1-pro, flux1.1-pro, flux.1.1-pro-ultra, gpt-image-1, custom"
          required: false
          type: "string"
        - name: "updatedAfter"
          in: "query"
          description: "Filter results to only return models updated after the specified ISO string date (exclusive). Requires the sortBy parameter to be \"updatedAt\""
          required: false
          type: "string"
        - name: "paginationToken"
          in: "query"
          description: "A token you received in a previous request to query the next page of items"
          required: false
          type: "string"
        - name: "tags"
          in: "query"
          description: "List of tags, comma separated."
          required: false
          type: "string"
        - name: "types"
          in: "query"
          description: "List of types, comma separated. Can be any of the following values: sd-1_5, sd-1_5-lora, sd-1_5-composition, sd-xl, sd-xl-lora, sd-xl-composition, flux.1, flux.1-lora, flux.1-kontext-dev, flux.1-krea-dev, flux.1-kontext-lora, flux.1-krea-lora, flux.1-composition, flux.1-pro, flux1.1-pro, flux.1.1-pro-ultra, gpt-image-1, custom"
          required: false
          type: "string"
        - name: "createdBefore"
          in: "query"
          description: "Filter results to only return models created before the specified ISO string date (exclusive). Requires the sortBy parameter to be \"createdAt\""
          required: false
          type: "string"
        - name: "sortBy"
          in: "query"
          description: "Sort results by the createdAt or updatedAt"
          required: false
          type: "string"
        - name: "createdAfter"
          in: "query"
          description: "Filter results to only return models created after the specified ISO string date (exclusive). Requires the sortBy parameter to be \"createdAt\""
          required: false
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicModelsResponse"
  /models/public/{modelId}:
    get:
      tags:
        - "Models"
      description: "Get the details of the given `modelId`"
      operationId: "GetPublicModelsByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The model ID to retrieve"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetPublicModelsByModelIdResponse"
  /models/{modelId}:
    get:
      tags:
        - "Models"
      description: "Get the details of the given `modelId`, including its training status and training progress if available"
      operationId: "GetModelsByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The model's `modelId` to retrieve"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetModelsByModelIdResponse"
      security:
        - Authorizer: []
    put:
      tags:
        - "Models"
      description: "Update the given `modelId`"
      operationId: "PutModelsByModelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The model's `modelId` to update"
          required: true
          type: "string"
        - in: "body"
          name: "PutModelsByModelIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutModelsByModelIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutModelsByModelIdResponse"
      security:
        - Authorizer: []
    delete:
      tags:
        - "Models"
      description: "Delete a model"
      operationId: "DeleteModelsByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The modelId to delete"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteModelsByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/copy:
    post:
      tags:
        - "Models"
      description: "Copy the given `modelId` to a new model, thumbnail, presets, and all of its training images and pairs if any"
      operationId: "PostModelsCopyByModelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The modelId to copy"
          required: true
          type: "string"
        - in: "body"
          name: "PostModelsCopyRequest"
          required: true
          schema:
            $ref: "#/definitions/PostModelsCopyRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostModelsCopyByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/description:
    get:
      tags:
        - "Models"
      description: "Get the description of the given `modelId`"
      operationId: "GetModelsDescriptionByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The description's `modelId` to retrieve"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetModelsDescriptionByModelIdResponse"
      security:
        - Authorizer: []
    put:
      tags:
        - "Models"
      description: "Update the markdown description of the given `modelId`"
      operationId: "PutModelsDescriptionByModelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The description's `modelId` to update"
          required: true
          type: "string"
        - in: "body"
          name: "PutModelsDescriptionByModelIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutModelsDescriptionByModelIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutModelsDescriptionByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/download:
    post:
      tags:
        - "Models"
      description: "Request a link to download the given `modelId`"
      operationId: "PostDownloadModel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          required: true
          type: "string"
        - in: "body"
          name: "PostDownloadModelRequest"
          required: true
          schema:
            $ref: "#/definitions/PostDownloadModelRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostDownloadModelResponse"
      security:
        - Authorizer: []
  /models/{modelId}/examples:
    get:
      tags:
        - "Models"
      description: "List all examples of the given `modelId`"
      operationId: "GetModelsExamplesByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The examples' `modelId` to retrieve"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetModelsExamplesByModelIdResponse"
      security:
        - Authorizer: []
    put:
      tags:
        - "Models"
      description: "Add/delete/sort examples of the given `modelId`"
      operationId: "PutModelsExamplesByModelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The examples' `modelId` to update"
          required: true
          type: "string"
        - in: "body"
          name: "PutModelsExamplesByModelIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutModelsExamplesByModelIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutModelsExamplesByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/images:
    delete:
      tags:
        - "Models"
      description: "Delete an image"
      operationId: "DeleteModelsImagesByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The images' `modelId` to delete"
          required: true
          type: "string"
        - name: "ids"
          in: "query"
          description: "The asset ids of the images to delete"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteModelsImagesByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/presets:
    get:
      tags:
        - "Models"
      description: "List all presets for the given `modelId`"
      operationId: "GetModelPresetsByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The presets' `modelId`"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetModelPresetsByModelIdResponse"
      security:
        - Authorizer: []
    post:
      tags:
        - "Models"
      description: "Create a new preset for the given `modelId`"
      operationId: "PostModelPresetByModelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "modelId"
          in: "path"
          description: "The preset's `modelId`"
          required: true
          type: "string"
        - in: "body"
          name: "PostModelPresetByModelIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PostModelPresetByModelIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostModelPresetByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/presets/{presetId}:
    put:
      tags:
        - "Models"
      description: "Modify the given `presetId`"
      operationId: "PutModelPresetByModelIdAndPresetId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The preset's `modelId`"
          required: true
          type: "string"
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "presetId"
          in: "path"
          required: true
          type: "string"
        - in: "body"
          name: "PutModelPresetByModelIdAndPresetIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutModelPresetByModelIdAndPresetIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutModelPresetByModelIdAndPresetIdResponse"
      security:
        - Authorizer: []
    delete:
      tags:
        - "Models"
      description: "Delete a preset for the given `modelId`"
      operationId: "DeleteModelPresetByModelIdAndPresetId"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The preset's `modelId` to delete"
          required: true
          type: "string"
        - name: "presetId"
          in: "path"
          description: "The preset's `presetId` to delete"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/DeleteModelPresetByModelIdAndPresetIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/scores/prompt:
    get:
      tags:
        - "Models"
      description: "Get the prompt scores for the given `modelId`"
      operationId: "GetModelsScoresPromptByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The prompt scores' `modelId`"
          required: true
          type: "string"
        - name: "prompt"
          in: "query"
          required: false
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetModelsScoresPromptByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/scores/training-dataset:
    get:
      tags:
        - "Models Training"
      description: "Get the training dataset scores for the given `modelId`"
      operationId: "GetModelsScoresTrainingDatasetByModelId"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The training dataset scores' `modelId`"
          required: true
          type: "string"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/GetModelsScoresTrainingDatasetByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/tags:
    put:
      tags:
        - "Models"
      description: "Add/delete tags for the given `modelId`"
      operationId: "PutModelsTagsByModelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The tags' `modelId`"
          required: true
          type: "string"
        - in: "body"
          name: "PutModelsTagsByModelIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutModelsTagsByModelIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutModelsTagsByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/train:
    put:
      tags:
        - "Models Training"
      description: "Trigger the given `modelId` training"
      operationId: "PutModelsTrainByModelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The training's `modelId` to trigger"
          required: true
          type: "string"
        - name: "originalAssets"
          in: "query"
          description: "If set to true, returns the original asset without transformation"
          required: false
          type: "string"
        - name: "dryRun"
          in: "query"
          required: false
          type: "string"
        - in: "body"
          name: "PutModelsTrainByModelIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PutModelsTrainByModelIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PutModelsTrainByModelIdResponse"
      security:
        - Authorizer: []
  /models/{modelId}/train/action:
    post:
      tags:
        - "Models Training"
      description: "Trigger an action on a model training: cancel"
      operationId: "PostModelTrainingActionByModelId"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "modelId"
          in: "path"
          description: "The `modelId` being trained"
          required: true
          type: "string"
        - in: "body"
          name: "PostModelTrainingActionByModelIdRequest"
          required: true
          schema:
            $ref: "#/definitions/PostModelTrainingActionByModelIdRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/PostModelTrainingActionByModelIdResponse"
      security:
        - Authorizer: []
[...]
